<div>
    <form class="form-inline-report" [formGroup]="generateReportForm" (ngSubmit)="onGenerateReport()">

      <mat-form-field class='generateReportFormBlock'>
          <mat-select formControlName='searchPatientId' placeholder="Patient Name">
              <mat-option *ngFor="let transactor of transactors" [value]="transactor.value">
                {{transactor.displayValue}}
              </mat-option>
            </mat-select>
        </mat-form-field>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-form-field class='generateReportFormBlock'>
            <input matInput formControlName="searchStartDate" [matDatepicker]="startDatePicker" placeholder="Start Date">
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-form-field class='generateReportFormBlock'>
            <input matInput formControlName="searchEndDate" [matDatepicker]="endDataPicker" placeholder="End Date">
            <mat-datepicker-toggle matSuffix [for]="endDataPicker"></mat-datepicker-toggle>
            <mat-datepicker #endDataPicker></mat-datepicker>
        </mat-form-field>
        <br>
        <button type="submit" mat-raised-button color="accent" >Search</button>
    </form> 
    <br>
    <br>

	<table mat-table [dataSource]='dataSource' class='mat-elevation-z8' id='expenseTable'>
		<ng-container matColumnDef="expenseDate">
		    <th mat-header-cell *matHeaderCellDef> Expense Date </th>
		    <td mat-cell *matCellDef="let element"> {{element.expenseDate}} </td>
		</ng-container>

		<ng-container matColumnDef="expenseCategory">
		    <th mat-header-cell *matHeaderCellDef> Expense Category </th>
		    <td mat-cell *matCellDef="let element"> {{element.expenseCategory }} </td>
		</ng-container>

		<ng-container matColumnDef="expenseAmount">
		    <th mat-header-cell *matHeaderCellDef> Expense Amount </th>
		    <td mat-cell *matCellDef="let element"> {{element.expenseAmount}} </td>
		</ng-container>

		<ng-container matColumnDef="incomeDate">
		    <th mat-header-cell *matHeaderCellDef> Income Date </th>
		    <td mat-cell *matCellDef="let element"> {{element.incomeDate}} </td>
		</ng-container>

		<ng-container matColumnDef="incomeCategory">
		    <th mat-header-cell *matHeaderCellDef> Income Category </th>
		    <td mat-cell *matCellDef="let element"> {{element.incomeCategory }} </td>
		</ng-container>

		<ng-container matColumnDef="incomeAmount">
		    <th mat-header-cell *matHeaderCellDef> Income Amount </th>
		    <td mat-cell *matCellDef="let element"> {{element.incomeAmount}} </td>
		</ng-container>
	

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

	</table>   
	<br>
	<button (click)="exportToExcel()" mat-raised-button color="accent" >Export To Excel</button>
</div>