.basic-container {
  padding: 30px;
}

.matForField {
  display: inline-flex;
  flex-direction: column;
  width: 90%;
}

table {
  width: 100%;
  height: 100px;
}

.singleBlock {
  display: inline-flex;  
  width: 33%;
}
