<div style="width: 100%; height: 600px;">
  <split direction="horizontal">
      <split-area size="15">
          <ul class = "mainmenu">
            <li>
              <a routerLink="/workingarea">
                <span class="badge">ADMISSION</span>
              </a>
            </li>
            <li>
              <a routerLink="/expenseworkingarea">
                <span class="badge">EXPENSE</span>
              </a>
            </li>
            <li>
              <a routerLink="/incomeworkingarea">
                <span class="badge">INCOME</span>
              </a>
            </li>
            <li>
              <a routerLink="/reportworkingarea">
                <span class="badge">REPORTS</span>
              </a>
            </li>
          </ul>
      </split-area>
      <split-area size="85">
          <router-outlet></router-outlet>
      </split-area>
  </split>
</div>