/* HeroesComponent's private CSS styles */
.mainmenu {
  margin: 0 0 2em 0;
  list-style-type:all;
  padding: 0;
  width:auto;
}
.mainmenu li {
  position: relative;
  cursor: pointer;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 2.5em;
  border-radius: 4px;
  display: inline;
}
 
.mainmenu li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .3em;
}


.mainmenu a {
  color: #888;
  text-decoration: none;
  position: relative;
  display: contents;
  width: 250px;
}
 
.mainmenu .badge {
  display: flex;
  font-size: large;
  font-style: italic;
  font-family: sans-serif;

  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;  
  height: 1.8em;  
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 6px 10px 9px 6px;
  width: auto;
}


